
html {
    /*height: -webkit-fill-available;
    min-height: 100%;
    */
    --color-one: hsla(194, 70%, 52%, 1.0);
    --color-one-semiTrans: hsla(194, 70%, 52%, 0.5);
    --color-two: green;
    --color-three: #ffffff;
    --color-four: rgba(0, 0, 0, 0.15);
    --color-five: hsla(0, 0%, 100%, 1.0);
    --color-six: hsla(0, 0%, 60%, 1.0);

    --zero: 0;
    --header-height: 50px;
    --map-height: 25%;
    --icon-height: 30px;
    --icon-width: 30px;
    --gauge-width: 100%;
    --gauge-height: 210px;

    --status-dot-width: 50px;

    --debug-border-width: 0px;
}

body {
    /*  min-height: 100vh;*/
    /*   min-height: -webkit-fill-available;*/

    background-color: var(--color-one);
    /*  position:fixed;
      */
    /*   background-image: url('../svg/wr_droplet.svg');


       font-family: proxima-nova,"helvetica neue",helvetica,arial,sans-serif;
   */
}

/*bg Containters*/

#stationCard_background {

    position: absolute;
    z-index: 200;

    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    text-align: right;
    vertical-align: bottom;

    background-color: var(--color-one, pink);

    border: 0px solid white;
}

#starterLogo_wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;

}

.loader {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    text-align: center;

}

.loader > img {
    width: 100px;
    margin-left: -50px;
    max-width: 100px;
    display: block;
}

#starterLogo {
    position: absolute !important;
    bottom: 5px !important;
    right: 8px !important;
    /*
    background-image: url('../svg/wr_droplet.svg');
     background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 50% 50%;
      background-size: 16%;
      */
}

#starterLogo > a {

    color: var(--color-five);
}

/*end bg Containters*/


#stationCard_main {

    display: block;
    position: absolute;
    z-index: 500;

    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background-color: var(--color-three, white);

}


/*big ui blocks */

#main_header {
    display: block;
    position: fixed;
    z-index: 600;

    top: 0px;
    left: 0px;

    height: var(--header-height, 50px);
    width: 100vw;

    background-color: var(--color-one, #1e90ff) !important;

    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid #cccccc;

}

#GroupLogo {
    border: var(--debug-border-width) solid black;

    display: inline-block;
    position: relative;
    float: right;

    width: 40px;
    height: 40px;


}

#GroupLogo > #GroupLogoImage {

    width: 40px;
    height: 40px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#GroupName {
    display: inline-block;
    position: relative;
    float: left;

    color: var(--color-five);
    font-size: 20px;

    border: var(--debug-border-width) solid white;
    padding-top: 10px;
    /* margin: 5px 0px 0px 5px;*/
}

#Map {
    display: block;
    position: relative;
    top: var(--zero);
    left: 0px;

    height: var(--map-height) !important;

    margin-top: var(--header-height);
    margin-bottom: 0;

    border-bottom: 1px solid #cccccc;
}

.leaflet-control-zoom {

    display: none;
}


/*Next/Prev Station Buttons Start*/

.station_next, .station_prev {
    position: absolute;
    display: block;
    top: calc(10vh - 5px);
    width: 30px;
    height: 100px;
    background-color: var(--color-one-semiTrans);
    text-align: center;
    box-shadow: 0 3px 3px rgba(0 0 0 0.2);
}

/*
.nextPrevImgWrapper{
   display: inline-block;
    height: 100%;
    vertical-align: middle;
}
*/
.modebar-container {
    display: none !important;
}

.station_next > img, .station_prev > img {
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 3em;
}

.station_prev {
    left: 0;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}

.station_next {
    right: 0;
    border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;

}

/*Next/Prev Station Buttons End*/

#main {
    height: calc();
}

#main_info {

    display: block;
    position: relative;
    top: var(--zero, --zero);
    left: 0px;

    border: var(--debug-border-width) solid green;

    height: calc(var(--map-height) - var(--header-height));

}

#main_tabset {
    display: block;
    position: relative;
    top: var(--zero, --zero);
    left: 0px;

    border: var(--debug-border-width) solid orange;
}


/*START STATUS*/
#status_container {
    display: block;
    float: left;
    position: relative;

    width: 40%;
    min-width: 160px;

    border: var(--debug-border-width) solid red;

    padding-left: 5px;
    padding-top: 5px;

    margin-top: 10px;
}

.status_item {

    display: block;
    float: left;
    position: relative;

    border: var(--debug-border-width) solid green;

    padding-right: 5px;


}

.status_item_2 {

    display: block;
    float: left;
    position: relative;

    height: 50%;
    border: var(--debug-border-width) solid blue;

    width: calc(100% - var(--status-dot-width));

}

.bold {
    font-weight: bold;
}

/*END STATUS*/


/*START PARAM SELECT*/
#param_select_containter {
    position: relative;
    float: right;
    width: 55%;
    min-width: 180px;
    border: var(--debug-border-width) solid red;
    height: 40px !important;
    padding-right: 5px;
    padding-top: 5px;
}

#ParameterSelect {
    display: block;
    position: relative;
    top: -18px;

}


.shiny-input-container:not(.shiny-input-container-inline) {
    width: 100%;
}

.selectize-input > div {

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;

}

/*END PARAM SELECT*/


#text_container {
    position: relative;
    float: left;
    position: relative;
    width: 100%;
    border: var(--debug-border-width) solid green;

    padding-left: 5px;
    padding-right: 5px;

    margin-bottom: 10px;
    margin-top: 10px;

}


#StationNameText {
    color: black;
    font-size: 18px;
    font-weight: thin;
}

#WatershedName {
    font-size: 14px;
    color: var(--color-six);
    padding-bottom: 3px;
}


#AverageReading_DateRange {
    font-size: 14px;
    color: var(--color-six);
}


#qr-tab {
    float: right;
    padding: 0px 0px

}

#MoreInfoLink {

    padding: 4px 0px 6px 10px;

}

#qr-icon {
    height: var(--icon-height);
    width: var(--icon-width);
}

#TrendsPlot {
    height: 210px !important;
}


#footer {
    position: absolute;
    display: block;
    bottom: 0;

    border: var(--debug-border-width) solid black;
    width: 100%;
}

#footer > a {
    bottom: 5px !important;
    right: 8px !important;
    position: absolute;
}

.powered-logo-tag {
    position: relative;
    display: block;
    float: right;
}

.svg-container {
    width: unset !important;
    position: relative;
    margin-left: 0;
    margin-right: 0;

}


#GaugePlot {
    width: var(--gauge-width) !important;

    height: var(--gauge-height) !important;
    /*
     margin-left: 0;
     margin-right: 0;
      */
}


.main-svg {
    overflow: visible;

}

#QRCode {
    text-align: center;
}
